@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'flowbite';

@layer base {
    p {
      @apply text-2xl;
    }
  }

@layer utilities{
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
      }
      .heading-primary {
        @apply text-5xl font-bold text-fontPrimaryLight dark:text-fontPrimary tracking-tight text-center my-4;
      }
      .heading-secondary {
        @apply text-4xl font-bold text-fontPrimaryLight dark:text-fontPrimary tracking-tight my-2;
      }
}
